{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Investor Page</title>
        <link rel="stylesheet" href="{% static 'css\styles.css' %}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <script src="https://kit.fontawesome.com/f540c9d3c0.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="{% static 'css\styles.css' %}">
    </head>
    <body>
        {% include 'navbar.html' %}
        <div class="container investor-container">
            <h1 class="page-title">Investor Page</h1>

            <div id="content">
                <!-- Content will be dynamically generated here -->
                    <form method="post" action="{% url 'mail' %}">
                        {% csrf_token %}
                        {% for investor in investors %}
                            <input type="checkbox" name="selected_investors" value="{{ investor.id }}">{{ investor.name }}<br>
                        {% endfor %}
                        <!-- <input type="submit" class="btn btn-primary add-button" value="Add"><i class="fa-solid fa-plus"></i> </input> -->
                        <button id="addLink" class="btn btn-primary add-button" type="submit">
                            <i class="fa-solid fa-plus"></i>
                            Add
                        </button>
                    </form>

            </div>

            <!-- <a id="addLink" class="btn btn-primary add-button" href="{% url 'mail' %}">
                <i class="fa-solid fa-plus"></i>
                Add
            </a> -->
            
        </div>

        <script src="{% static 'js\script.js' %}"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    </body>
</html>
